<% provide :page_title, @presenter.page_title %>
<div itemscope itemtype="http://schema.org/CreativeWork" class="row">
  <div class="col-xs-12">
    <header>
      <%= render 'work_title', presenter: @presenter %>
    </header>

    <span class="state state-<%= @presenter.workflow.state %>"><%= @presenter.workflow.state_label %></span>
  </div>
  <div class="col-sm-8">
    <%= render 'work_description', presenter: @presenter %>
    <%= render 'geo_works/metadata', presenter: @presenter %>
    <%= render 'geo_works/relationships', presenter: @presenter %>
  </div>
  <div class="col-sm-4">
    <%= render "show_actions", presenter: @presenter %>
    <%= render "file_actions", presenter: @presenter %>
    <%= t('.last_modified', value: @presenter.date_modified) %>
    <%= render 'geo_works/representative_media', presenter: @presenter %>
    <%= render 'social_media' %>
    <%= render 'citations', presenter: @presenter %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'geo_works/related/geo_files', presenter: @presenter %>
    <%= render 'geo_works/related/external_metadata_files', presenter: @presenter %>
    <%= render 'workflow_actions_widget', presenter: @presenter %>
  </div>
</div>
