<h2><%= t('hyrax.base.relationships.header') %></h2>
<table class="table table-striped relationships">
  <tbody>
    <% if defined?(presenter.member_of_collection_presenters) && presenter.member_of_collection_presenters.size > 0 %>
      <%= render 'relationships_parent_row', type: 'collection', items: presenter.member_of_collection_presenters, presenter: presenter %>
    <% end %>
    <%= presenter.attribute_to_html(:admin_set, render_as: :faceted) %>
  </tbody>
</table>

<%= render 'geo_concerns/related/child_works', presenter: @presenter %>
<%= render 'geo_concerns/related/parent_works', presenter: @presenter %>
